[submodule "lisp/copilot.el"]
	path = lisp/copilot.el
	url = https://github.com/copilot-emacs/copilot.el.git
[submodule "personal_snippets"]
	path = personal_snippets
	url = git@github.com:alisonjoe/personal_snippets.git
